 :root {
     --text-color: #fff;
     --color-orange: #9A2E12;
 }

 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;

 }

 body {
     background: #024751;
     font-family: 'Roboto', sans-serif
 }

 input,
 textarea {
     font-size: 17px;
 }


 button:disabled {
     background: #989898 !important;
     pointer-events: none;
 }

 /* SigIn and SignUp */


 .contentSignIn,
 .contentSigUp {
     display: grid;
     place-items: center;
     height: 60vh;
 }

 .formSignIn {
     background: #F6F5F5;
     padding: 20px;
     border-radius: 12px;
     max-width: 400px;
     display: grid;
     justify-content: space-between;
     height: 300px;
     -webkit-border-radius: 12px;
     -moz-border-radius: 12px;
     -ms-border-radius: 12px;
     -o-border-radius: 12px;
 }


 .formSignUp {
     background: #F6F5F5;
     padding: 20px;
     border-radius: 12px;
     max-width: 400px;
     display: grid;
     justify-content: space-between;
     height: auto;
     -webkit-border-radius: 12px;
     -moz-border-radius: 12px;
     -ms-border-radius: 12px;
     -o-border-radius: 12px;
 }

 .groupInput {
     gap: 20px;
     margin-top: 15px;
 }

 .textLabel {
     color: aliceblue;
 }


 .formInput {
     height: 38px;
     border-radius: 8px;
     width: 100%;
     outline: none;
     -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
     -ms-border-radius: 8px;
     -o-border-radius: 8px;
 }

 .contentShowPassword {
     display: flex;
     flex-direction: row-reverse;
     align-items: center;

     span {
         position: absolute;
         cursor: pointer;
         padding: 4px;
         border-radius: 8px;
         -webkit-border-radius: 8px;
         -moz-border-radius: 8px;
         -ms-border-radius: 8px;
         -o-border-radius: 8px;
     }
 }

 .button-primary {
     border-radius: 8px;
     border: none;
     width: 100%;
     font-size: 18px;
     background: #c0392b;
     color: #fff;
     padding: 4px;
     height: 48px;
     cursor: pointer;
     transition: all 0.3s ease-in-out;
     -webkit-transition: all 0.3s ease-in-out;
     -moz-transition: all 0.3s ease-in-out;
     -ms-transition: all 0.3s ease-in-out;
     -o-transition: all 0.3s ease-in-out;
 }

 .text-azure {
     color: azure;
 }

 .decoration-none {
     text-decoration: none;
     margin-left: 2px;
     color: inherit;
 }

 .footer-links {
     margin-top: 20px;
 }

 /* SignIn and SignUp */


 /* allnotes*/


 .mt {
     margin-top: 60px;
 }

 .mb {
     margin-bottom: 60px;
 }

 .text-gray {
     color: #989898;

 }

 .m {
     margin: 3px;
 }

 .mt-form {
     margin-top: 10px;
 }

 .pick {
     width: 100%;
     aspect-ratio: 640/427;
     object-fit: contain;

 }

 /* publications */
 .contentPublications {
     display: grid;
     justify-content: center;
 }

 .link-publication {
     background: #282828 !important;
     margin-top: 15px;
     margin-bottom: 15px;
     height: 70px;
     text-align: center;
     align-content: center;
     overflow: hidden;
     text-overflow: ellipsis;
     width: 65%;
     text-decoration: none;
     color: #FFF;
 }

 .text-center {
     text-align: center;
 }

 .publications {
     background: #282828;
     margin-top: 15px;
     margin-bottom: 15px;
     height: 40px;
     text-align: center;
     align-content: center;
     overflow: hidden;
     text-overflow: ellipsis;
     width: 100%
 }

 .text-white {
     color: #fff;
 }

 .w-100 {
     width: 100%;
 }

 .publicationsHome {
     background: #282828 !important;
     margin-top: 20px;
     margin-bottom: 15px;
     height: 70px;
     text-align: center;
     align-content: center;
     overflow: hidden;
     text-overflow: ellipsis;
     text-decoration: none;
     color: #FFF;
 }

 .link-publication-home {
     width: 100%;
     overflow: hidden;
     text-overflow: ellipsis;
     text-decoration: none;
     color: #FFF;

 }

 /* edit publication */

 .mt-60 {
     margin-top: 60px;
 }

 .formEdit {
     width: 100%;
     max-width: 800px;
     display: flex;
     flex-direction: column;
     justify-content: center;
 }

 .mb-5 {
     margin-bottom: 5px;
 }



 .buttonDelete {
     border-radius: 8px;
     border: none;
     width: 100%;
     font-size: 18px;
     background: #fff;
     color: #000;
     padding: 4px;
     height: 44px;
     cursor: pointer;
 }

 .inputEdit {
     height: 38px;
     border-radius: 8px;
     width: 100%;
     outline: none;
 }

 .mt-20 {
     margin-top: 20px;
 }

 .textareaEdit {
     border-radius: 8px;
     width: 100%;
     outline: none;
     resize: none;
     field-sizing: content;
     height: auto;
     padding: 10px;
 }

 /*edit publication */


 /* comment */
 .contenFormEdit {
     display: flex;
     justify-content: center;
     align-content: center;

 }

 .formOptions {
     display: flex;
     justify-content: space-between;
     align-items: center;


 }

 .contentLikes {
     padding-left: 12px;
     margin: 4px;
     font-size: 18px;
     display: flex;
     flex-direction: column;
 }

 .article-form {
     margin-top: 15px;
     display: grid;
     place-items: center;
 }

 .textareaComment {
     border-radius: 8px;
     width: 100%;
     outline: none;
     resize: none;
     field-sizing: content;
     height: auto;
     padding: 10px;
 }

 .cardComment {
     border-radius: 8px;
     padding: 10px;
     margin: 5px;
     background: #fff;
     gap: 20px;
     height: auto;
     display: flex;
     flex-direction: column;
     overflow: hidden;
     text-overflow: ellipsis;
     -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
     -ms-border-radius: 8px;
     -o-border-radius: 8px;
 }

 .border-50 {
     border-radius: 50%;
 }

 /* comment */

 /* menu */
 .contentLinks {
     background: #024751 !important;
     height: 57px;
     display: flex;
     color: #989898;
     gap: 20px;
     align-items: center;
     justify-content: end;
     position: fixed;
     width: 100%;
     box-shadow: -1px 1px 5px 0px rgba(0, 0, 0, 0.75);
     -webkit-box-shadow: -1px 1px 5px 0px rgba(0, 0, 0, 0.75);
     -moz-box-shadow: -1px 1px 5px 0px rgba(0, 0, 0, 0.75);
     z-index: 1000;
 }

 .anchor {
     text-decoration: none;
     color: #989898;
 }

 .link {
     margin: 2px;
     cursor: pointer;
 }

 .mr {
     margin-right: 8px;
     cursor: pointer;
 }

 .button-onMenu {
     background: transparent !important;
     color: aliceblue !important;
     border: none !important;


 }

 /* menu */

 form[action="/users/reset"] {
     display: flex;
     width: 100%;
     place-content: center;
     justify-content: center;

     & button[aria-label="Close this dialog"] {
         display: flex;
         flex-direction: column;
         position: fixed;
         top: 0;
         right: 0;
     }


 }

 /*  sidemenu */
 .position-top {
     top: 0px;
     position: static;
 }

 .link-side {
     text-decoration: none;
     color: #fff;
 }

 .margin-pointer {
     margin: 2px;
     cursor: pointer;
 }

 /*  sidemenu */

 .contentForms {
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 50px;
     flex-wrap: wrap;
 }

 .text-black {
     color: #000;
 }

 .formInitial {
     background: #F6F5F5;
     padding: 20px;
     border-radius: 12px;
     max-width: 400px;


 }

 .formUser {
     background: #F6F5F5;
     padding: 20px;
     border-radius: 12px;
     max-width: 400px;

     label {
         color: #000;
     }


 }


 /* CSS */
 .buttonPrimary {
     align-items: center;
     background-clip: padding-box;
     background-color: #9A2E12;
     border: 1px solid transparent;
     border-radius: .25rem;
     box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
     box-sizing: border-box;
     color: #fff;
     cursor: pointer;
     display: inline-flex;
     font-family: system-ui, -apple-system, "Helvetica Neue", Helvetica, Arial, sans-serif;
     font-size: 16px;
     font-weight: 600;
     justify-content: center;
     line-height: 1.25;
     margin: 0;
     min-height: 3rem;
     padding: calc(.875rem - 1px) calc(1.5rem - 1px);
     position: relative;
     text-decoration: none;
     transition: all 250ms;
     user-select: none;
     -webkit-user-select: none;
     touch-action: manipulation;
     vertical-align: baseline;
     -webkit-border-radius: .25rem;
     -moz-border-radius: .25rem;
     -ms-border-radius: .25rem;
     -o-border-radius: .25rem;
 }

 .buttonBack {
     align-items: center;
     background-clip: padding-box;
     background-color: #edfff8;
     border: 1px solid transparent;
     border-radius: .25rem;
     box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
     box-sizing: border-box;
     color: #000;
     cursor: pointer;
     display: inline-flex;
     font-family: system-ui, -apple-system, "Helvetica Neue", Helvetica, Arial, sans-serif;
     font-size: 16px;
     font-weight: 600;
     justify-content: center;
     line-height: 1.25;
     margin: 0;
     min-height: 3rem;
     padding: calc(.875rem - 1px) calc(1.5rem - 1px);
     position: relative;
     text-decoration: none;
     transition: all 250ms;
     user-select: none;
     -webkit-user-select: none;
     touch-action: manipulation;
     vertical-align: baseline;
 }

 .buttonPrimary:hover,
 .buttonPrimary:focus {
     background-color: #fb8332;
     box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
 }

 .buttonPrimary:hover {
     transform: translateY(-1px);
     -webkit-transform: translateY(-1px);
     -moz-transform: translateY(-1px);
     -ms-transform: translateY(-1px);
     -o-transform: translateY(-1px);
 }

 .buttonPrimary:active {
     background-color: #291100;
     box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
     transform: translateY(0);
 }

 .static-top {
     top: 0px;
     position: static;
 }



 /* pagination */
 .pagination {
     color: var(--text-color-orange);
 }

 .is-inline-flex {
     display: inline-flex;

     & a,
     div {
         color: var(--text-color);
         text-decoration: none;
     }
 }

 .is-flex {
     display: flex;
 }

 .is-space-x-px {
     margin-left: -1px;
 }

 .paginationNumberStyle {
     justify-content: center;
     align-items: center;
     border-width: 1px;
     width: 2.5rem;
     height: 2.5rem;
     font-size: 0.875rem;
     line-height: 1.25rem;
 }

 .is-button-page,
 .is-button-page-general {
     cursor: pointer;
 }

 .is-rounded-l-md {
     border-top-left-radius: 0.375rem;
     border-bottom-left-radius: 0.375rem;
 }

 .is-rounded-r-md {
     border-top-right-radius: 0.375rem;
     border-bottom-right-radius: 0.375rem;
 }

 .is-z-10 {
     z-index: 10;
 }

 .color-green {
     background: var(--color-orange);
 }

 .is-border-blue-600 {
     border-color: #2563EB;
 }

 .is-text-white {
     color: #ffffff;
 }

 .hover-bg-gray-100:hover {
     background-color: #F3F4F6;
     color: #000;
 }

 .is-text-gray-300 {
     color: #D1D5DB;
 }

 .paginationArrowStyle {
     display: flex;
     justify-content: center;
     align-items: center;
     border-radius: 0.375rem;
     border-width: 1px;
     width: 2.5rem;
     height: 2.5rem;
 }

 .is-pointer-events-none {
     pointer-events: none;
 }

 .mr-2-md-mr-4 {
     margin-right: 0.5rem;
 }

 .ml-2-md-ml-4 {
     margin-right: 0.5rem;
 }

 /* pagination end */