<link rel="stylesheet" href="/css/sidenav.css">

<div class="container-content">
  <div id="header" 
class="contentLinks"
>
    {{#if userAuthenticated}}
    <a href="/" class="anchor">
      <div id="" class="link">Inicio</div>
    </a>
    <a href="/notes" class="anchor">
      <div  class="link">Publicaciones</div>
    </a>
    <a href="/users/settings" class="anchor">
      <div  class="link">Configuración</div>
    </a>
    <a href="/users/logout" class="anchor">
      <div id="buttonSessionClose" class="link">Cerrar sesión&nbsp;</div>

    </a>
    {{else}}
    <a href="/users/signin" class="anchor">
      <div id="buttonSession" class="link">Iniciar sesión</div>
    </a>
    <a href="/users/signup" class="anchor">
      <div id="buttonAccount" class="mr">Cuenta</div>
    </a>
    {{/if}}
    <div class="mr" id="button"><button id="buttonSid" type="button"
    class="button-onMenu"
        data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasExample" >
        <i class="fa-solid fa-bars"></i>
      </button>
    </div>
  </div>
</div>
</div>

</section>


<script type="module" src="/js/navbar.js"></script>