<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:type" content="website">
    <meta property="og:title" content="Mis Publicaciones">
    <meta property="og:url" content="https://publicacion-kappa.vercel.app/">
    <meta property="og:image" content="/img/pick.webp">
    <meta property="og:description" content="Mirar publicaciones más recientes">  
    <meta name="description" content="Mirar publicaciones más recientes">  
  <title>General</title>
  <link rel="shortcut icon" href="/img/pick.webp" type="image/x-icon">
  <link rel="stylesheet" href="/css/all.min.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" src="/css/sidenav.css">

</head>

<body>
  {{>navigation}}
  <br>
  {{{body}}}


  
  <script src="/js/sweetalert.js"></script>
  <script src="/js/jquery-3.7.1.js"></script>
<script type="module" src="/js/navbar.js"></script>
 {{>contentSidemenu}}
</body>

</html> 