<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:type" content="website">
    <meta property="og:title" content="Mis Publicaciones">
    <meta property="og:url" content="https://publicacion-kappa.vercel.app/">
    <meta property="og:image" content="/img/pick.webp">
    <meta property="og:description" content="Mirar publicaciones m치s recientes">  
  <title>General</title>
  <link rel="shortcut icon" href="/img/pick.webp" type="image/x-icon">
  <link rel="stylesheet" href="/css/all.min.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" src="/css/sidenav.css">

</head>

<body>
  {{>navigation}}
  {{{body}}}


  
  <script src="/js/sweetalert.js"></script>
  <script >
    let buttonSid = document.getElementById("buttonSid");
buttonSid.addEventListener("click", async function () {
  await Swal.fire({
    title: 'Menu 游녦',
    html: `
<article class="position-top">

{{#if userAuthenticated}}
 <a href="/" class="link-side">
  <div id="" class="margin-pointer">Inicio</div>
</a>
<br>
 <a href="/notes" class="link-side">
  <div id="" class="margin-pointer">Publicaciones</div>
</a>
<br>
 <a href="/users/settings" class="link-side">
  <div id="" class="margin-pointer">Configuraci칩n</div>
</a>
<br>
<a href="/users/logout" class="link-side">
  <div id="buttonSessionClose" class="margin-pointer">Cerrar sesi칩n</div>
</a>

<br>
{{else}}
<a href="/users/signin" class="link-side">
  <div id="buttonSession" class="margin-pointer">Iniciar sesi칩n</div>
</a>
<br>
<a href="/users/signup" class="link-side">
  <div id="buttonAccount" style="margin-right: 8px; cursor: pointer;"> Cuenta</div>
</a>
{{/if}}
</article>
`
    ,
    position: 'top-right',
    showClass: {
      popup: `
  animate__animated
  animate__fadeInRight
  animate__faster
`,
    },
    hideClass: {
      popup: `
  animate__animated
  animate__fadeOutRight
  animate__faster
`,
    },
    grow: 'column',
    width: 300,
    showConfirmButton: false,
    showCloseButton: true,
    background: '#0c5b6d',
    color: '#fff',
  })

})


  </script>
  <script src="/js/jquery-3.7.1.js"></script>
<script type="module" src="/js/navbar.js"></script>
</body>

</html>