<link rel="stylesheet" href="/css/home.css" />
<section class="container">
  <header class="w-100">
    <div class="w-100 contentImageGroup">

    <img src="/img/group.svg"   alt="Usuarios" class="imageGroup" />
    </div>
  </header>

  <main  class="m">
    <h3  class="text-gray text-center mt-form">
      <i class="fa-solid fa-comment"></i>
      Publicaciones
    </h3>
    <div class="pagination flex-center"></div>
    <div class="flex-center contentGeneralPublications"></div>
  </main>
</section>
<script type="module" src="/js/home.js"></script>