<link rel="stylesheet" href="/css/home.css" />
<section class="container">
  <header class="w-100">
    <img src="/img/group.svg" alt="Usuarios" class="w-100" />
  </header>

  <main >
    <h3  class="text-gray text-center mt-form">
      <i class="fa-solid fa-comment"></i>
      Publicaciones
    </h3>
    {{#each publicationsAll}}

    <div class="publicationsAll publicationsHome"
     >

      <a href="/notes/public/{{this._id}}"
      class="link-publication-home"
        >
        <div>
          <p>{{title}}</p>
        </div>
      </a>
    </div>
    {{else}}
    <div  class="text-white text-center">Aún no hay publicaciones</div>
    {{/each}}
  </main>
</section>