<link rel="stylesheet" href="/css/allnotes.css" />

<section class="container">
  <header >
    <div  class="mt">
      <h3  class="text-gray">
        <i class="fa-solid fa-comment"></i>
        Nueva publicación  {{userName}}
      </h3>
    </div>

    <div  class="m">
      <form
        action="/notes"
        method="post"
        enctype=""
      class="mt-form form-publication"
      >

        <div>
          <input
            type="text"
            id="title"
            name="title"
            minlength="10"
            maxlength="500"
            placeholder="Título"
            required
            class="formInput"
          />
        </div>
        <div class="mt-form">
          <textarea
            type="text"
            name="description"
            minlength="10"
            maxlength="250"
            id="description"
            placeholder="Descripción"
            required
            class="formInput"
          ></textarea>
        </div>

        <div class="mt-form">
          <button
          type="submit"
          class="buttonPrimary w-100"
          >
            <i class="fa fa-paper-plane"></i>
           &nbsp; Publicar
          </button>
        </div>

      </form>
    </div>
    <br />
    <br />
    <br />
    <br />
  </header>

  <aside>
    <div class="contentAside"> 

    <img
      class="pick"
      src="/img/pick.webp"
      alt=""
    />
    </div>
        <h3 class="text-gray mt-form"><i
        class="fa-solid fa-comments"
      ></i>
      Mis publicaciones</h3>

      <div align="center" class="pagination"></div>
    <div class="contentMyPublications"></div>


  </aside>

  <article>

  </article>

  <blockquote>

  </blockquote>

  <main    class="m-auto">
    <section
      class="m"
    >
      <h3 class="text-gray">
        <i class="fa-solid fa-comment"></i>
        Publicaciones
      </h3>

      <div align="center" class="paginationGeneral"></div>
      <div align="center" class="contentGeneralPublications"></div>
    </section>

  </main>

  <footer>
  </footer>

</section>

<script src="/js/sweetalert.js"></script>

{{> messages}}

<script type="module" src="/js/navbar.js"></script>
<script type="module" src="/js/allnotes.js"></script>
