<link href="/css/main.css" rel="stylesheet" type="text/html" />

<div class="contentSignIn">
<br>
<br>
<br>
<br>
<br>
    <form action="/users/signin" method="post" class="form formSignIn" >
<h2 class="textLabel">Inicio de sesión</h2>
    <div class="groupInput">

      <label for="" class="textLabel">Dirección de correo electrónico</label>
          <input
            type="email"
            class="formInput"
            name="email"
            placeholder="example@example.com"
            autofocus
            autocomplete="off"
            required
          />
    </div>


    <div class="groupInput">

      <label for="" class="textLabel">Contraseña</label>
      <div  class="contentShowPassword">
          <span id="setVisible" ><img
            src="/img/visible.svg"
            alt="Ver"
            title="Ver"
          /></span>

          <input
            type="password"
            name="password"
            class="formInput"
            placeholder="******"
            autocomplete="off"
            id="inputAccount"
            required
          />
      </div>

    </div>
    <div class="groupInput">

        <button
          type="submit"
          name="button"
          class="button-primary"
          
        >Ingresar</button>
    </div>
</form>

  <div  class="text-azure">
    <div >
      <a href="/users/forgotEmail" class="decoration-none">Olvidaste tu contraseña?</a>
    </div>
  </div>
  <div  class="text-azure">
    <div >
      Aún no tienes cuenta?
      <a href="/users/signup" class="decoration-none">Crear cuenta</a>
    </div>
  </div>



</div>

<script type="module" src="/js/signIn.js"></script>
<script src="/js/sweetalert.js"></script>

{{> messageSignIn}}