<div class="contentSigUp">
  <br />
  <br />
  <br />
  <br />
  <br />
  <form
    action="/users/signup"
    method="post"
    class="formSignUp"
  >
    <h2 class="text-black">Crear cuenta</h2>
    <div class="groupInput">
      <label for="name" class="text-black">Nombre</label>
      <input
        type="text"
        name="name"
        class="formInput"
        value=""
        placeholder="Usuario"
      />
    </div>

    <div class="groupInput">
      <label for="email" class="text-black">Email</label>
      <input
        type="email"
        name="email"
        class="formInput"
        value=""
        placeholder="example@gmail.com"
        required
      />
    </div>

    <div class="groupInput">
      <label for="password" class="text-black">Contraseña</label>
      <div
        class="contentShowPassword"
      >
        <span id="visible"><img
            src="/img/visible.svg"
            alt="Ver"
            title="Ver"
          /></span>
        <input
          type="password"
          name="password"
          class="formInput"
          placeholder="*****"
          id="input"
          autocomplete=""
        />

      </div>
    </div>
    <div class="groupInput">
      <label for="confirm_password" class="text-black">Confirmar
        contraseña</label>
      <input
        type="password"
        name="confirm_password"
        placeholder="*****"
          id="inputConfirm"
          autocomplete=""
          class="formInput"
      />
    </div>

    <div class="groupInput">
      <button
        type="submit"
        name="button"
        class="button-primary"
      >Crear cuenta</button>
    </div>
  </form>

  <div class="footer-links">
    <div class="text-azure">
      Ya tienes cuenta?
      <a
        href="/users/signin"
        class="decoration-none"
      >Ingresar</a>
    </div>
  </div>
</div>




<script type="module" src="/js/signup.js"></script>
<script type="" src="/js/sweetalert.js"></script>
{{> messageSignup}}